<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Musicians:</strong>
  <%= @band.musicians %>
</p>

<p>
  <strong>Website:</strong>
  <%= @band.website %>
</p>

<p>
  <strong>Currently together:</strong>
  <%= @band.currently_together %>
</p>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_band_path(@band) %> |
  <%= link_to 'Back', bands_path %>
<% else %>
  <%= link_to 'Back', bands_path %>
<% end %>
